@using BlogWeb.Models.Dto

@{
    var latestPosts = ViewData["latestPosts"] as List<PostDTO>;
    var latestOne = ViewData["latestOne"] as PostDTO;
    var baseUrl = ViewData["baseUrl"];
}

<article class="card mb-4">
    <div class="card-image">
        <div class="post-info">
            <span class="text-uppercase">1 minutes read</span>
        </div>
        <img loading="lazy" decoding="async" src="@baseUrl/@latestOne.PhotoUrl" alt="Post Thumbnail" class="w-100">
    </div>
    <div class="card-body px-0 pb-1">
        <h3>
            <a class="post-title post-title-sm" asp-controller="" asp-action="">
                @latestOne.Title
            </a>
        </h3>
        <p class="card-text">@((latestOne.Content?.Length> 100 ? latestOne.Content.Substring(0,100) + "..." : latestOne.Content))</p>
        <div class="content">
            <a class="read-more-btn" href="article.html">Read Full Article</a>
        </div>
    </div>
</article>
@foreach(var post in @latestPosts)
{
    <a class="media align-items-center" href="article.html">
        <img loading="lazy" decoding="async" src="@baseUrl/@post.PhotoUrl" alt="Post Thumbnail" class="w-100">
        <div class="media-body ml-3">
            <h3 style="margin-top:-5px">@post.Title</h3>
            <p class="mb-0 small">Heading Here is example of hedings. You can use …</p>
        </div>
    </a>
}
