@model BlogWeb.Models.Dto.UserDTO;


<div class="card mx-auto my-4">
    <ul>
        <li style="list-style:none; padding:5px">Name : @Model.UserName</li>
        <li style="list-style:none; padding:5px">Email : @Model.Email</li>
        <li style="list-style:none; padding:5px">Role : @Model.Role</li>
    </ul>
</div>