@model BlogWeb.Models.VM.ProfileVM;


<div class="card mx-auto my-4">
    <ul>
        <li style="list-style:none; padding:5px">Name : </li>
        <li style="list-style:none; padding:5px">Email : </li>
        <li style="list-style:none; padding:5px">Role : </li>
    </ul>
</div>