@model BlogWeb.Models.Dto.CategoryUpdateDTO;

<!-- Display general errors -->
@if (ViewData.ModelState.ErrorCount > 0)
{
	<div class="alert alert-danger">
		<ul>
			@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
			{
				<li>@error.ErrorMessage</li>
			}
		</ul>
	</div>
}

<div class="card">
	<div class="card-header">
		<div class="card-title">Update Category</div>
	</div>
	<form method="post" asp-controller="Category" asp-action="Update" class="form-control">
		<input type="hidden" asp-for="Id" />
		<div class="card-body">
			<div class="form-group">
				<label asp-for="Name"></label>
				<input type="text" asp-for="Name" class="form-control form-control" id="Name" placeholder="Name.. ">
			</div>
		</div>
		<div class="card-action">
			<button type="submit" class="btn btn-primary">Update Category</button>
			<a asp-controller="Catgeory" asp-action="Index" class="btn btn-light">Back</a>
		</div>
	</form>
</div>