<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/admin/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Hizrian
						<span class="user-level">Administrator</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">My Profile</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Edit Profile</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Settings</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item active">
				<a href="#">
					<i class="fa-solid fa-chart-line"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="fa-solid fa-note-sticky"></i>
					<p>Posts</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="fa-solid fa-list"></i>
					<p>Categories</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="fa-solid fa-comments"></i>
					<p>Comments</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="fa-solid fa-users"></i>
					<p>Users</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="fa-solid fa-gear"></i>
					<p>Settings</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="la la-fonticons"></i>
					<p>Icons</p>
				</a>
			</li>
		</ul>
	</div>
</div>