@model BlogWeb.Models.Dto.LoginRequestDTO;
@{
	ViewData["Title"] = "Login";
}
<div class="col-12">
	<div class="breadcrumbs mb-4">
		<a href="index.html">Home</a>
		<span class="mx-1">/</span>  <a asp-controller="Auth" asp-action="Login">Login</a>
	</div>
</div>
<div class="col-lg-6 mt-4 mt-lg-0">
	<form method="post" asp-controller="Auth" asp-action="Login" class="row">
		<div class="col-12">
			<label class="form-label" for="email">Email: </label>
			<input type="email" asp-for="Email" class="form-control mb-4" placeholder="Email.. " id="email">
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="col-12">
			<label class="form-label" for="password">Password: </label>
			<input type="password" asp-for="HashPassword" class="form-control mb-4" placeholder="Password.. " id="password">
			<span asp-validation-for="HashPassword" class="text-danger"></span>
		</div>
		<div class="col-12">
			<button class="btn btn-outline-primary" type="submit">Login</button>
		</div>
	</form>
</div>