@{
	ViewData["Title"] = "Login";
}
<div class="col-12">
	<div class="breadcrumbs mb-4">
		<a href="index.html">Home</a>
		<span class="mx-1">/</span>  <a asp-controller="Home" asp-action="Login">Login</a>
	</div>
</div>
<div class="col-lg-6 mt-4 mt-lg-0">
	<form method="POST" action="#!" class="row">
		<div class="col-12">
			<input type="email" class="form-control mb-4" placeholder="Email.. " name="email" id="email">
		</div>
		<div class="col-12">
			<input type="password" class="form-control mb-4" placeholder="Passord.. " name="subject" id="password">
		</div>
		<div class="col-12">
			<button class="btn btn-outline-primary" type="submit">Login</button>
		</div>
	</form>
</div>